html{
    background-color: #2e364f;
}
#header{
    background-color: #2e364f;
    color: rgb(239, 89, 57);
    text-align: center;
}
#nameH1{
    padding-top: 25vh;
    font-size: 140px;
    margin: 0;
}
h1{
    font-family: 'Permanent Marker','Cursive';
}
#header a{
    vertical-align: middle;
    color: #f3f0e2;
    margin-left: 10px;
    margin-right: 10px;
}
#contactInfo{
    margin: 20px;
    text-align: center;
}
#contactInfo i{
    color: rgb(239, 89, 57); 
    font-size: 100px;
    margin: 0 10px 0 10px;
}


@media all and (max-width: 700px){
    #nameH1{
        padding-top: 10vh;
        font-size: 100px;
        margin: 0;
    }
    #contactInfo i{
        margin: 0 20px 0 20px;
    }

}